# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Flask-specific
instance/
.webassets-cache
*.db
*.sqlite3

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/
.spyderproject
.spyproject
.ropeproject
.idea/

# MyPy, Pyre, Pytype
.mypy_cache/
.pyre/
.pytype/

# Sphinx / documentation
docs/_build/
.site

# Ruff
.ruff_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Scrapy
.scrapy

# PyInstaller
*.spec

# SageMath
*.sage.py

# Pipenv/Poetry/PDM
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Other
.pypirc
target/

# Local Data Files (Project-specific)
static/charts/
*.csv
*.xlsx
*.json

# Deployment
app.yaml
